.DS_Store
/objektorienterad-design/car-inspection/build/
/objektorienterad-design/NextGenPOS/nbproject/private/
/objektorienterad-design/NextGenPOS/build/
/objektorienterad-design/NextGenPOS/dist/
/objektorienterad-design/JavaApplication15/nbproject/private/
/objektorienterad-design/JavaApplication15/build/
/algoritmer-och-datastrukturer/lab1/target/
/objektorienterad-design/lab2/target/
/objektorienterad-design/lab3/target/
/objektorienterad-design/project1/target/
/algoritmer-och-datastrukturer/project1/target/
/algoritmer-och-datastrukturer/lab3/target/
/algoritmer-och-datastrukturer/lab4/target/
/algoritmer-och-datastrukturer/lab5/target/
/algoritmer-och-datastrukturer/project2/target/
